.overlay {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 8;
}

.modal {
  background: #eee;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.7);
  color: #111;
  margin: 0 auto;
  max-width: 400px;
  padding: 20px 40px;
  text-align: center;
  width: 100%;
}
